<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-4 col-lg-2 d-md-block d-none bg-light sidebar-100vh position-fixed" style="height: 100vh;">
      <div class="d-flex flex-column h-100">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="https://winnerseducation.org/assets/image/logo_wnrs.png" alt="Logo" class="img-fluid p-2">
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active">
              <i class="fa fa-home"></i> Dashboard Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/manage-users-roles" routerLinkActive="active">
              <i class="fa fa-users-cog"></i> Manage Users & Roles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/manage-permissions" routerLinkActive="active">
              <i class="fa fa-key"></i> Manage Permissions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/audit-logs" routerLinkActive="active">
              <i class="fa fa-file-alt"></i> Audit Logs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/manage-notifications" routerLinkActive="active">
              <i class="fa fa-bell"></i> Manage Notifications
            </a>
          </li>

          <!-- Logout Link -->

          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onLogout()">
              <i class="fa fa-sign-out-alt"></i> Logout 
            </a>
          </li>



        </ul>
      </div>
    </nav>


    <nav class="col-12 d-md-none bg-light p-2">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSidebar" aria-expanded="false" aria-controls="mobileSidebar">
        <i class="fa fa-bars"></i> Menu
      </button>
      <div class="collapse mt-2" id="mobileSidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active">
              <i class="fa fa-home"></i> Dashboard Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/manage-users-roles" routerLinkActive="active">
              <i class="fa fa-users-cog"></i> Manage Users & Roles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/manage-permissions" routerLinkActive="active">
              <i class="fa fa-key"></i> Manage Permissions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/audit-logs" routerLinkActive="active">
              <i class="fa fa-file-alt"></i> Audit Logs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/manage-notifications" routerLinkActive="active">
              <i class="fa fa-bell"></i> Manage Notifications
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onLogout()">
              <i class="fa fa-sign-out-alt"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Main Content -->
    <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4 main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
